apiVersion: v1
kind: Secret
metadata:
  name: example-creds-consul
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "address": "http://localhost:8500",
      "token": "9847975c-7ff7-6b13-0272-791103753035"
    }
